<h1>投稿一覧</h1>
<% @books.each do |book| %>
  <p>タイトル</p>
  <span><%= book.title %></span>
  <span><%= book.body %></span>
    <%= image_tag book.image.url %>
  <div><%= link_to "削除",book_path(book), method: :delete %></div>
<% end %>