<h1>投稿一覧</h1>
<% @books.each do |book| %>
  <p>タイトル</p>
  <span><%= book.title %></span>
  <span><%= book.body %></span>
  <% book.images.each do |image| %>
    <%= image_tag image.to_s %>
  <% end %>
  <div><%= link_to "削除",book_path(book), method: :delete %></div>
<% end %>