<h1>投稿一覧</h1>
<% @books.each do |book| %>
  <p>タイトル</p>
  <span><%= book.title %></span>
  <span><%= book.body %></span>
  <div id="image-wrapper">
    <%= image_tag "#{book.image.cropped}", id: :prev_img %>
  </div>
  <div><%= link_to "削除",book_path(book), method: :delete %></div>
<% end %>